@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,900');

/* ----------------------------------------
 *  UNIVERSAL STYLES
 * ---------------------------------------- */

:root {
  --violet-color: #5d3d8c;
  --yellow-color: #e09f32;
  --red-color: #ad342c;
  --border-color: #bdbdbd;
  --white-color: #fff;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  font-weight: 600;
  height: 100vh;
}

.no-overflow {
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  font-size: 1.2em;
}

select {
  padding: 6px;
  font-size: 1em;
  margin: 0;
}

label {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.container {
  background-color: #f3f3f3;
}

.title {
  color: var(--violet-color);
  font-weight: 900;
  font-size: 4em;
}


/* ----------------------------------------
 *  BUTTON
 * ---------------------------------------- */

button {
  border-radius: 12px;
  padding: 12px; 
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

/* .dragIcon {
  width: 30px;
  display: block;
  fill: white;
  text-decoration: none;
  padding-left: 20px;
}

.dragIcon:before {
  content: '';
  background: url(./images/drag_indicator.svg);
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-left: -20px;
} */

.violet-btn {
  background-color: var(--violet-color);
}

.red-btn {
  background-color: var(--red-color);
}


/* ----------------------------------------
 *  ICONS
 * ---------------------------------------- */
 
.large-icon {
  font-size: 2.2em;
  display: block;
}


.smaller-icon {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 5px;
}

.small-icon {
  font-size: 1.6em;
  display: block;
}

.white-icon {
  color: var(--white-color);
}

/* ----------------------------------------
 *  COLORS
 * ---------------------------------------- */

.yellow-bg {
  background-color: #cd972e;
}

.red-bg {
  background-color: #cb3b3b;
}

.blue-bg {
  background-color: #396fcc;
}

.green-bg {
  background-color: #46944e;
}

.yellow-border {
  border: solid 3px #cd972e;
}

.red-border {
  border: solid 3px #cb3b3b;
}

.blue-border {
  border: solid 3px #396fcc;
}

.green-border {
  border: solid 3px #46944e;
}

/* ----------------------------------------
 *  TABLE
 * ---------------------------------------- */

table {
  border-collapse: separate;
  min-width: 400px;
  border-spacing: 0 15px;
}

table thead tr {
  text-align: left;
  
}

table thead tr .currentPlayer {
  background-color: var(--violet-color);
}

table th {
  border: none;
}

table tbody tr {
  font-size: 22px;
  background-color: var(--white-color);
  background-color: var(--violet-color);
  
}

td {
  border: solid 0px #000;
  border-style: none;
  padding: 10px;
}

tr td {
  border-radius: 5px;
}
